* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body, input, button {
    font-family: 'Cairo', sans-serif;
    background-color: #f1f1f1;
}

input, button {
    font-size: 16px;
}

.head_bar {
    padding: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(34, 34, 34);
    color: rgb(118, 117, 117);
}


main {
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
    padding: 16px;
    background-color: #f1f1f1;
}

.material-icons {
    vertical-align: bottom;
    font-size: 19px;
}

#add-button {
    background-color: #f1f1f1;
    border: 3px solid black;
    color: black;
    cursor: pointer;
    padding: 5px;
}

input:focus, textarea:focus {
    outline: none;
}
a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
}

.input_section {
    display: flex;
    flex-direction: column;
    padding: 10px;
    border: 3px solid black;
}

.input_section > h2 {
    text-align: center;
    color: rgb(118, 117, 117);
}

.input_section > form > .input {
    margin: 8px 0;
}

.input_section > form > button {
    background-color: rgb(91, 93, 95);
    color: white;
    border: 0;
    display: block;
    width: 100%;
    padding: 8px;
    cursor: pointer;
}

.input_section > form > button > span {
    font-weight: bold;
}

.input_section > form > .input > input {
    display: block;
    width: 100%;
    padding: 8px;
}

.input_section > form > .input > label {
    color: black;
    font-weight: bold;
}

.input_section > form > .input_inline {
    margin: 12px 0;
    display: flex;
    align-items: center;
}

.input_section > form > .input_inline > label {
    color: black;
    font-weight: bold;
    margin-right: 10px;
}

.search_section {
    margin: 16px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    border: 3px solid black;
}

.search_section > h3 {
    color:  rgb(118, 117, 117);
}

.search_section > form {
    padding: 10px 0px;
    width: 100%;
    display: grid;
    grid-template-columns: auto 1fr 0.5fr;
    grid-gap: 5px;
}

.search_section > form > label {
    display: flex;
    align-items: center;
}

.search_section > form > input {
    padding: 5px;
    border-radius: 0px;
}

.search_section > form > button {
    background-color: rgb(91, 93, 95);
    color: white;
    border: 0;
    cursor: pointer;
}

.status-search-sudah {
    background-color: rgb(87, 176, 87);
    color: white;
    padding: 4px 4px;
    border-radius: 50px;
    width: fit-content;
}
.status-search-belum {
    background-color: rgb(207, 79, 79);
    color: white;
    padding: 4px 4px;
    border-radius: 50px;
    width: fit-content;
}

.book_shelf {
    margin: 5px 0 0 0;
    padding: 5px;
}

.book_shelf > .book_list {
    padding: 10px;
}

.book_shelf > .book_list > .book_item {
    padding: 8px 16px 16px 16px;
    border: 1px solid black;
    border-radius: 0px;
    margin: 10px 0;
}

.book_shelf > .book_list > .book_item > h3, p {
    margin: 8px 0;
}

.book_shelf > .book_list > .book_item > .action > button {
    border: 0;
    padding: 5px;
    margin: 0 5px 0 0;
    border-radius: 0px;
    cursor: pointer;
}

.book_shelf > .book_list > .book_item > .action > .green {
    background-color: rgb(39, 79, 39);
    color: white;
}

.book_shelf > .book_list > .book_item > .action > .red {
    background-color: rgb(94, 34, 34);
    color: white;
}

/* TAB */
.tab {
    overflow: hidden;
    background-color: rgb(34, 34, 34);
  }

  .tab .tablinks {
    color:rgb(197, 197, 197);
  }

  .tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
  }

  .tab button:hover {
    background-color: rgb(118, 117, 117);
  }

  .tab button.active {
    background-color:rgb(118, 117, 117);
  }

  .tabcontent {
    display: none;
    padding: 6px 12px;
    border: 3px solid rgb(34, 34, 34);;
    border-top: none;
  }

  /* ACCORDION */
  .accordion.add {
    background-color: #f1f1f1;
    border: 3px solid black;
    color: black;
    cursor: pointer;
    padding: 5px;
    cursor: pointer;
  }

  .accordion.result {
    background-color: rgb(118, 117, 117);
    color: rgb(197, 197, 197);
    cursor: pointer;
    padding: 5px;
    width: 100%;
    text-align: center;
    border: none;
    outline: none;
    transition: 0.4s;
  }

  .panel.add{
    margin-top: 5px;
    display: none;
    overflow: hidden;
  }

  .panel.result {
    width: 100%;
    float: left;
    display: none;
    overflow: hidden;
  }
